<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script src="https://kit.fontawesome.com/a5faf288a0.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="/views/css/style.css" />
  <title>Document</title>
  <style>
    .left_bottom li.on a {
      font-weight: bold;
    }

    .content_tab li.on a {
      font-weight: bold;
    }

    .pagination {
      padding-top: 10px;
      display: inline-block;
    }

    .pagination a {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
    }

    .pagination a.active {
      background-color: white;
      color: black;
      border-radius: 5px;
    }

    .pagination a:hover:not(.active) {
      background-color: #ddd;
      border-radius: 5px;
    }

    button {
      background-color: white;
      border: 1px solid #bbb;
    }

    #header .wrap .bottom_box .nav_tab {
      padding: 0;
      height: 35px;
    }

    #header .wrap .bottom_box .login_tab {
      padding: 0;
      height: 35px;
    }

    #header .wrap .bottom_box {
      align-items: end;
    }
  </style>
</head>

<body>
  <header id="header">
    <div class="wrap">
      <div class="top_box">
        <h1>
          <a href="/"><img src="/views/img/logo1.png" alt="" /> </a>
        </h1>
        <nav class="search_box">
          <input type="text" placeholder="검색어를 입력해주세요" maxlength="50" autocomplete="off"
            onkeydown="handleKeyPress(event)" />
          <button class="search_button" onclick="searchQuestion()">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
              <style>
                svg {
                  fill: #022667;
                }
              </style>
              <path
                d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
            </svg>
          </button>
        </nav>
      </div>
      <div class="bottom_box">
        <ul class="nav_tab">
          <li><a href="/jobinfo">직무 탐색</a></li>
          <li><a href="/questions">취업 Q&A</a></li>
        </ul>
        <ul class="login_tab">
          <% if (!loginOrNot) { %>
            <li><button type="button" class="signBtn">회원가입</button></li>
            <li><button type="button" class="loginBtns">로그인</button></li>
            <li style="display: none;"><button type="button" class="myPageBtn">마이페이지</button></li>
            <li style="display: none;"><button type="button" class="logoutBtn">로그아웃</button></li>
            <%} else { %>
              <li style="display: none;"><button type="button" class="signBtn">회원가입</button></li>
              <li style="display: none;"><button type="button" class="loginBtns">로그인</button></li>
              <li><button type="button" class="myPageBtn" onclick="getMyPage()">마이페이지</button></li>
              <li><button type="button" class="logoutBtn" onclick="logoutEvnt()">로그아웃</button></li>
              <%} %>
        </ul>
      </div>
    </div>
  </header>

  <!-- 컨텐츠 시작 -->
  <section class="qna">
    <div class="qna_content">
      <div class="qna_content_wrap">
        <div class="wrap_left">
          <div class="qna_left_box">
            <ul class="left_bottom" style="margin-bottom: 0px">
              <li style="padding: 5px 24px">
                <select name="EDU_TYPE" id="EDU_TYPE" class="form-select form-select-lg"
                  aria-label=".form-select-lg example">
                  <option value="" <% if (searchType.EDU_TYPE==='' ) { %>selected<% } %>>학력조건</option>
                  <option value="J00110" <% if (searchType.EDU_TYPE==='J00110' ) { %>selected<% } %>>대학교</option>
                  <option value="J00108" <% if (searchType.EDU_TYPE==='J00108' ) { %>selected<% } %>>전문대학</option>
                  <option value="J00100" <% if (searchType.EDU_TYPE==='J00100' ) { %>selected<% } %>>관계없음</option>
                  <option value="J00106" <% if (searchType.EDU_TYPE==='J00106' ) { %>selected<% } %>>고등학교</option>
                </select>
              </li>
              <li style="padding: 5px 24px">
                <select name="EMP_TYPE" id="EMP_TYPE" class="form-select form-select-lg"
                  aria-label=".form-select-lg example">
                  <option value="" <% if (searchType.EMP_TYPE==='' ) { %>selected<% } %>>고용형태</option>
                  <option value="J01102" <% if (searchType.EMP_TYPE==='J01102' ) { %>selected<% } %>>계약직</option>
                  <option value="J01101" <% if (searchType.EMP_TYPE==='J01101' ) { %>selected<% } %>>상용직</option>
                  <option value="J01103" <% if (searchType.EMP_TYPE==='J01103' ) { %>selected<% } %>>계약직(기간제)</option>
                  <option value="J01105" <% if (searchType.EMP_TYPE==='J01105' ) { %>selected<% } %>>상용직(기간제)</option>
                </select>

              </li>
              <li style="padding: 5px 24px">
                <select name="CAR_TYPE" id="CAR_TYPE" class="form-select form-select-lg"
                  aria-label=".form-select-lg example">
                  <option value="" <% if (searchType.CAR_TYPE==='' ) { %>selected<% } %>>경력조건</option>
                  <option value="J01301" <% if (searchType.CAR_TYPE==='J01301' ) { %>selected<% } %>>신입</option>
                  <option value="J01302" <% if (searchType.CAR_TYPE==='J01302' ) { %>selected<% } %>>경력</option>
                  <option value="J01300" <% if (searchType.CAR_TYPE==='J01300' ) { %>selected<% } %>>무관</option>
                </select>

              </li>
            </ul>
            <div class="left_top" style="padding: 0px 24px 24px 20px">
              <button onclick="getJobInfo()"><a>검색</a></button>
            </div>
          </div>
        </div>

        <div class="wrap_right">
          <!-- 컨텐츠 시작 -->
          <div class="content_txtbox" style="margin: 0px">
            <!-- 박스 시작 -->
            <%if(row.length> 0) { %> <% row.forEach((r)=> { %>
                <div class="txtbox_txt" style="
                  padding-bottom: 24px;
                  border-bottom: 1px solid rgb(228, 228, 228);
                ">
                  <div class="popular_category">
                    <span>
                      <%=r.CAREER_CND_NM %>
                    </span>
                    <span>
                      <%=r.ACDMCR_NM %>
                    </span>
                    <span>
                      <%=r.EMPLYM_STLE_CMMN_MM %>
                    </span>
                  </div>
                  <div class="jobInfo_content" style="margin-top: 5px">
                    <div style="font-size: 18px">
                      <%=r.CMPNY_NM %>
                    </div>
                    <div>
                      <%=r.DTY_CN %>
                    </div>
                  </div>
                </div>
                <% }) %>
                  <% } %>

                    <!-- 박스 끝 -->
          </div>

          <!-- 페이지네이션  -->
          <!-- 페이지네이션  -->
          <% if (page.totalPages> 1) { %>
            <div class="pagination" style="text-align: center; display: flex; justify-content: center">
              <% if (page.currentPage> 1) { %>
                <a href="javascript:getJobInfo(<%= page.currentPage - 1 %>)">
                  < </a>
                    <% } %>
                      <% for (let i=page.startPage; i <=page.endPage; i++) { %>
                        <% if (i===page.currentPage) { %>
                          <a class="current active" href="javascript:getJobInfo(<%= i %>)"><b>
                              <%= i %>
                            </b></a>
                          <% } else { %>
                            <a href="javascript:getJobInfo(<%= i %>)">
                              <%= i %>
                            </a>
                            <% } %>
                              <% } %>
                                <% if (page.currentPage < page.totalPages) { %>
                                  <a href="javascript:getJobInfo(<%= page.currentPage + 1 %>)">></a>
                                  <% } %>
            </div>
            <% } %>
        </div>
      </div>
    </div>
  </section>
  <section class="signModal">
    <div class="wrap">
      <div class="top">
        <button type="button" id="closebtn" value="close"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24">
            <g fill="none" fill-rule="evenodd">
              <g>
                <g>
                  <path d="M0 0H24V24H0z" transform="translate(-316 -20) translate(316 20)"></path>
                  <g stroke="#000" stroke-width="2">
                    <path d="M16 0L0 16M0 0L16 16" transform="translate(-316 -20) translate(316 20) translate(4 4)">
                    </path>
                  </g>
                </g>
              </g>
            </g>
          </svg></button>
      </div>
      <div class="sign_txt">
        <p>회원가입</p>
        <span>기업 고객이신 경우, 기업서비스에서 가입을 진행해주세요.</span>
      </div>
      <div class="sign_form">
        <label for="email">이메일</label>
        <div class="emailform">
          <input type="text" name="email" id="email" placeholder="이메일을 입력해 주세요.">
          <button type="button">메일인증</button>
        </div>
        <div class="nameform">
          <label for="username">이름</label>
          <input type="text" name="username" id="username" placeholder="이름을 입력해주세요.">
        </div>
        <div class="pwform">

          <label for="pw">비밀번호</label>
          <input type="password" name="pw" id="pw" placeholder="비밀번호를 입력해 주세요.">
        </div>

      </div>

      <div class="sign_check">
        <div class="autocheckbox">
          <input type="checkbox" name="autocheck" id="autocheck">
          <label for="autocheck">전체 동의</label>
        </div>
        <ul class="checklist">
          <li> <input type="checkbox" name="check">
            <label for="check">만 15세 이상입니다<span>(필수)</span></label>
          </li>
          <li><input type="checkbox" name="check">
            <label for="check">개인회원 이용약관 동의<span>(필수)</span></label>
          </li>
          <li><input type="checkbox" name="check">
            <label for="check">개인정보 수집 및 이용 동의<span>(필수)</span></label>
          </li>
          <li><input type="checkbox" name="check">
            <label for="check">마케팅 수신 동의</label>
          </li>

        </ul>

      </div>

      <button type="button">회원가입</button>

    </div>
  </section>
  <section class="loginmodal">
    <div class="wrap">
      <div class="top">
        <button type="button" id="close" value="close"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24">
            <g fill="none" fill-rule="evenodd">
              <g>
                <g>
                  <path d="M0 0H24V24H0z" transform="translate(-316 -20) translate(316 20)"></path>
                  <g stroke="#000" stroke-width="2">
                    <path d="M16 0L0 16M0 0L16 16" transform="translate(-316 -20) translate(316 20) translate(4 4)">
                    </path>
                  </g>
                </g>
              </g>
            </g>
          </svg></button>
      </div>
      <div class="login_txt">
        <p>반가워요</p>
        <p>커뮤니티에서 커리어점프해요!</p>
      </div>
      <div class="login_form">
        <label for="email">이메일</label>
        <input type="text" name="email" id="email">
      </div>
      <button type="button">커뮤니티 시작하기</button>
      <div class="login_check">
        <input type="checkbox" name="autologin" id="autologin">
        <label for="autologin">자동 로그인</label>
      </div>
    </div>
  </section>
  <% include ('signin.ejs')%>
    <% include ('signup.ejs')%>

      <script>
        // 로그인창, 회원가입창 js
        const logintab = document.querySelector('.loginBtns')
        const signtab = document.querySelector('.signBtn');

        const closebtn = document.querySelector('#close');
        const signclose = document.querySelector('#closebtn');
        const signmodal = document.querySelector('.signModal');
        const loginmodal = document.querySelector('.loginmodal');
        logintab.addEventListener('click', function (e) {
          e.preventDefault();
          loginmodal.classList.add('on');
        })
        signtab.addEventListener('click', function (e) {
          e.preventDefault();
          signmodal.classList.add('on');
        })
        closebtn.addEventListener('click', function (e) {
          e.preventDefault();
          loginmodal.classList.remove('on');

        })
        signclose.addEventListener('click', function (e) {
          e.preventDefault();
          signmodal.classList.remove('on');
        })
        function getMyPage() {
          window.location.href = '/users/profile';
        }
        function logoutEvnt() {
          axios
            .post("/users/logout")
            .then(function (response) {
              alert("로그아웃 되었습니다.");
              window.location.reload();
            })
            .catch(function (error) {
              alert("로그아웃 실패" + error);
              console.log("Logout failed: " + error);
            });
        }
        function getJobInfo(page) {
          const EDU_TYPE = document.getElementById("EDU_TYPE").value;
          const EMP_TYPE = document.getElementById("EMP_TYPE").value;
          const CAR_TYPE = document.getElementById("CAR_TYPE").value;
          const PAGE_QUERY = page ? page : 1;

          if (EDU_TYPE == '' && EMP_TYPE == '' && CAR_TYPE == '' && page == '') {
            alert("검색값을 입력하여주세요");
            return false;
          }

          const queryString = `EDU_TYPE=${encodeURIComponent(
            EDU_TYPE
          )}&EMP_TYPE=${encodeURIComponent(
            EMP_TYPE
          )}&CAR_TYPE=${encodeURIComponent(CAR_TYPE)}&page=${PAGE_QUERY}`;
          const url = `/jobinfo?${queryString}`;

          axios
            .get(url)
            .then((res) => {
              console.log(res);
              window.location.href = url;
            })
            .catch((error) => {
              console.log();
              alert("해당하는 데이터가 없습니다.");
            });
        }
      </script>
</body>

</html>