<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/a5faf288a0.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <link rel="stylesheet" href="/views/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>MAIN PAGE</title>
</head>

<body>

  <header id="header">
    <div class="wrap">
      <div class="top_box">
        <h1><a href="/"><img src="views/img/logo1.png" alt="">
          </a></h1>
        <nav class="search_box">
          <div class="search_wrap">
            <!-- TOP 5 영역 -->
            <div class="top-list-area">
              <input type="text" placeholder="검색어를 입력해주세요" maxlength="50" autocomplete="off"
                onkeydown="handleKeyPress(event)">
              <button class="search_button" onclick="searchQuestion()">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                  <style>
                    svg {
                      fill: #022667
                    }
                  </style>
                  <path
                    d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
                </svg>
              </button>
              <div class="search_list">
                <div class="view-top" style="float: left; border: 1px solid black">
                  <h4>조회순 TOP5</h4>
                  <% if (viewsTops.length> 0) { %>
                    <table>
                      <thead>
                        <tr>
                          <th>제목</th>
                          <th>조회수</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% viewsTops.forEach((viewsTop)=> { %>
                          <tr>
                            <td>
                              <a href="/questions/<%= viewsTop.id %>">
                                <%= viewsTop.title %>
                              </a>
                            </td>
                            <td>
                              <%= viewsTop.views%>
                            </td>
                          </tr>
                          <% }); %>
                      </tbody>
                    </table>
                    <% } else { %>
                      <p>No questions found.</p>
                      <% } %>
                </div>
                <div class="like-top" style="float: left; border: 1px solid black">
                  <h4>좋아요 TOP5</h4>
                  <% if (favoriteTops.length> 0) { %>
                    <table>
                      <thead>
                        <tr>
                          <th>제목</th>
                          <th>좋아요</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% favoriteTops.forEach((favoriteTop)=> { %>
                          <tr>
                            <td>
                              <a href="/questions/<%= favoriteTop.id %>">
                                <%= favoriteTop.title %>
                              </a>
                            </td>
                            <td>
                              <%= favoriteTop.favorite%>
                            </td>
                          </tr>
                          <% }); %>
                      </tbody>
                    </table>
                    <% } else { %>
                      <p>No questions found.</p>
                      <% } %>
                </div>
              </div>
            </div>
          </div>

        </nav>

      </div>
      <div class="bottom_box">
        <ul class="nav_tab">
          <li><a href="/jobinfo">직무 탐색</a></li>
          <li><a href="/questions">취업 Q&A</a></li>
        </ul>
        <ul class="login_tab">
          <% if (!loginOrNot) { %>
            <li><button type="button" class="signBtn">회원가입</button></li>
            <li><button type="button" class="loginBtns">로그인</button></li>
            <li style="display: none;"><button type="button" class="myPageBtn">마이페이지</button></li>
            <li style="display: none;"><button type="button" class="logoutBtn">로그아웃</button></li>
          <%} else { %>
            <li style="display: none;"><button type="button" class="signBtn">회원가입</button></li>
            <li style="display: none;"><button type="button" class="loginBtns">로그인</button></li>
            <li><button type="button" class="myPageBtn" onclick="getMyPage()">마이페이지</button></li>
            <li><button type="button" class="logoutBtn" onclick="logoutEvnt()">로그아웃</button></li>
          <%} %>
      </ul>
      </div>
    </div>

  </header>

  <section class="slide">
    <div class="slide_section">
      <div class="left_content">
        <div class="slider-wrap">
          <div class="cont">
            <img src="/views/img/v_home_img_mainbanner_1.png" alt="">
            <div class="txt">
              <p>
                엑소시스템즈<br>
                디지털헬스케어 함께 성장하실 분 채용중!
              </p>
            </div>
          </div>
          <div class="cont"> <img src="/views/img/v_home_img_mainbanner_2.png" alt="">
            <div class="txt">
              <p>
                네오게임<br>
                기획자로 함께 성장하실 분 채용중!
              </p>
            </div>
          </div>
          <div class="cont"> <img src="/views/img/v_home_img_mainbanner_3.png" alt="">
            <div class="txt">
              <p>
                엑소시스템즈<br>
                디지털헬스케어 함께 성장하실 분 채용중!
              </p>
            </div>
          </div>
          <div class="cont"> <img src="/views/img/v_home_img_mainbanner_4.png" alt="">
            <div class="txt">
              <p>
                엑소시스템즈<br>
                디지털헬스케어 함께 성장하실 분 채용중!
              </p>
            </div>
          </div>
          <div class="cont"> <img src="/views/img/v_home_img_mainbanner_5.png" alt="">
            <div class="txt">
              <p>
                엑소시스템즈<br>
                디지털헬스케어 함께 성장하실 분 채용중!
              </p>
            </div>
          </div>
          <div class="cont"> <img src="/views/img/v_home_img_mainbanner_6.png" alt="">
            <div class="txt">
              <p>
                엑소시스템즈<br>
                디지털헬스케어 함께 성장하실 분 채용중!
              </p>
            </div>
          </div>
          <div class="cont"> <img src="/views/img/v_home_img_mainbanner_7.png" alt="">
            <div class="txt">
              <p>
                엑소시스템즈<br>
                디지털헬스케어 함께 성장하실 분 채용중!
              </p>
            </div>
          </div>
        </div>

      </div>

      <div class="right_content">
        <% if(!loginOrNot) { %>
          <div class="login_box">
            <p>회원가입/로그인하고</p>
            <p>다양한 혜택을 만나보세요.</p>
  
            <div class="login_button">
              <button type="button" class="login_btn">회원가입 / 로그인</button>
            </div>
          </div>
        <% } else { %>
          <div class="login_box">
            <p><%= userNickName.nickname %> 님 환영합니다!</p>
            <p>다양한 채용정보를 만나보세요.</p>
            <div class="login_button">
              <button type="button" class="login_btn" onclick="getMyPage()">마이페이지</button>
            </div>
          </div>
        <% } %>

        <div class="notice_box">
          <h1>NOTICE</h1>
          <div class="notice_list">
            <span>[공지] 개인정보 처리방침 개정에 대해</span>
            <span>2023-06</span>
          </div>

        </div>

      </div>
    </div>

    </div>
  </section>

  <section class="youtube">
    <div class="wrap">
      <p>취업 관련 영상</p>
      <div class="playlist">


      </div>

    </div>
  </section>

  <section class="job_content">
    <div class="job_content_list">
      <div>
        <h1>QA 엔지니어 이번주 인기 포지션</h1>
      </div>
      <div class="links"><a href="#">전체 보기</a></div>
    </div>
    <div class="job_content_box_wrap">
      <div class="job_content_box">
        <div class="job_content_box_list">
          <a href="#">
            <div class="img_box">
              <img src="views/img/jumpit1.jpg" alt="">
            </div>
            <div class="content_txt">
              <p>마키나락스</p>
              <h4>QA 엔지니어</h4>
              <ul class="langs">
                <li>QA</li>
                <li>· Python</li>
                <li>· Selenium</li>
              </ul>
              <ul class="location">
                <li>서울 서초구</li>
                <li>· 경력 2~7년</li>
              </ul>
            </div>
          </a>
        </div>
      </div>
      <div class="job_content_box">
        <div class="job_content_box_list">
          <a href="#">
            <div class="img_box">
              <img src="views/img/jumpit2.jpg" alt="">
            </div>
            <div class="content_txt">
              <p>마키나락스</p>
              <h4>QA 엔지니어</h4>
              <ul class="langs">
                <li>QA</li>
                <li>· Python</li>
                <li>· Selenium</li>
              </ul>
              <ul class="location">
                <li>서울 서초구</li>
                <li>· 경력 2~7년</li>
              </ul>
            </div>
          </a>
        </div>
      </div>
      <div class="job_content_box">
        <div class="job_content_box_list">
          <a href="#">
            <div class="img_box">
              <img src="views/img/jumpit1.jpg" alt="">
            </div>
            <div class="content_txt">
              <p>마키나락스</p>
              <h4>QA 엔지니어</h4>
              <ul class="langs">
                <li>QA</li>
                <li>· Python</li>
                <li>· Selenium</li>
              </ul>
              <ul class="location">
                <li>서울 서초구</li>
                <li>· 경력 2~7년</li>
              </ul>
            </div>
          </a>
        </div>
      </div>
      <div class="job_content_box">
        <div class="job_content_box_list">
          <a href="#">
            <div class="img_box">
              <img src="views/img/jumpit2.jpg" alt="">
            </div>
            <div class="content_txt">
              <p>마키나락스</p>
              <h4>QA 엔지니어</h4>
              <ul class="langs">
                <li>QA</li>
                <li>· Python</li>
                <li>· Selenium</li>
              </ul>
              <ul class="location">
                <li>서울 서초구</li>
                <li>· 경력 2~7년</li>
              </ul>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="signModal">
    <div class="wrap">
      <div class="top">
        <button type="button" id="closebtn" value="close"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24">
            <g fill="none" fill-rule="evenodd">
              <g>
                <g>
                  <path d="M0 0H24V24H0z" transform="translate(-316 -20) translate(316 20)"></path>
                  <g stroke="#000" stroke-width="2">
                    <path d="M16 0L0 16M0 0L16 16" transform="translate(-316 -20) translate(316 20) translate(4 4)">
                    </path>
                  </g>
                </g>
              </g>
            </g>
          </svg></button>
      </div>
      <div class="sign_txt">
        <p>회원가입</p>
        <span>기업 고객이신 경우, 기업서비스에서 가입을 진행해주세요.</ㄴp>
      </div>
      <div class="sign_form">
        <label for="email">이메일</label>
        <div class="emailform">
          <input type="text" name="email" id="email" placeholder="이메일을 입력해 주세요.">
          <button type="button">메일인증</button>
        </div>
        <div class="nameform">
          <label for="username">이름</label>
          <input type="text" name="username" id="username" placeholder="이름을 입력해주세요.">
        </div>
        <div class="pwform">

          <label for="pw">비밀번호</label>
          <input type="password" name="pw" id="pw" placeholder="비밀번호를 입력해 주세요.">
        </div>

      </div>

      <div class="sign_check">
        <div class="autocheckbox">
          <input type="checkbox" name="autocheck" id="autocheck">
          <label for="autocheck">전체 동의</label>
        </div>
        <ul class="checklist">
          <li> <input type="checkbox" name="check">
            <label for="check">만 15세 이상입니다<span>(필수)</span></label>
          </li>
          <li><input type="checkbox" name="check">
            <label for="check">개인회원 이용약관 동의<span>(필수)</span></label>
          </li>
          <li><input type="checkbox" name="check">
            <label for="check">개인정보 수집 및 이용 동의<span>(필수)</span></label>
          </li>
          <li><input type="checkbox" name="check">
            <label for="check">마케팅 수신 동의</label>
          </li>

        </ul>

      </div>

      <button type="button">회원가입</button>

    </div>
  </section>
  <section class="loginmodal">
    <div class="wrap">
      <div class="top">
        <button type="button" id="close" value="close"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24">
            <g fill="none" fill-rule="evenodd">
              <g>
                <g>
                  <path d="M0 0H24V24H0z" transform="translate(-316 -20) translate(316 20)"></path>
                  <g stroke="#000" stroke-width="2">
                    <path d="M16 0L0 16M0 0L16 16" transform="translate(-316 -20) translate(316 20) translate(4 4)">
                    </path>
                  </g>
                </g>
              </g>
            </g>
          </svg></button>
      </div>
      <div class="login_txt">
        <p>반가워요</p>
        <p>점핏에서 커리어점프해요!</p>
      </div>
      <div class="login_form">
        <label for="email">이메일</label>
        <input type="text" name="email" id="email">
      </div>
      <button type="button">점핏 시작하기</button>
      <div class="login_check">
        <input type="checkbox" name="autologin" id="autologin">
        <label for="autologin">자동 로그인</label>
      </div>
    </div>
  </section>
  <% include ('signin.ejs')%>
    <% include ('signup.ejs')%>

      <footer id="footer">
        <div class="inner">
          <span class="logo"><a href="/"><img src="views/img/logo3.png" alt=""></a></span>
          <div class="contents">
            <div class="links_wrap">
              <ul class="links">
                <li><a href="#">서비스 소개</a></li>
                <li><a href="#">기업 서비스</a></li>
                <li><a href="#">점핏Team</a></li>
              </ul>
              <ul class="links">
                <li><a href="#">이용약관</a></li>
                <li><a href="#">개인정보처리방침</a></li>
                <li><a href="#">자주묻는질문 FAQ</a></li>
              </ul>
            </div>
            <dl class="info">
              <dd>
                점핏 고객센터 : 02-2025-2733 (평일 09:00 - 18:00, 점심시간 12:00 - 13:00, 주말·공휴일 휴무)<br>
                이메일 : help@jumpit.co.kr / Fax : 02-6937-0036
              </dd>
              <dd>
                (주)사람인, 우 : 08378, 서울특별시 구로구 디지털로34길 43, 14층(구로동, 코오롱싸이언스밸리 1차), 대표 : 김용환<br>
                사업자등록 : 113-86-00917 / 직업정보제공사업 : 서울 관악 제 2005-6호 / 통신판매업 : 제 2339호
              </dd>
              <dd>Copyright (c) (주)사람인. All rights reserved.</dd>
            </dl>
          </div>
        </div>
      </footer>
      <!-- 팝업 영역 -->
      <aside id="popup">
        <div class="content">
        </div>
        <div class="wrap">
          <input type="checkbox" name="ck" id="ck">
          <label for="ck">오늘 하루 그만보기</label>
        </div>

        <a href="#" class="close">CLOSE</a>
      </aside>
      <!-- 검색 영역 -->
      <div class="search-area hidden">
        <input type="text" id="searchWord" placeholder="검색어를 입력하세요" />
        <button type="button" onclick="search()">Search</button>
      </div>


      <script>
        function search() {
          var searchWord = document.getElementById("searchWord").value;
          window.location.href = "/questions/search?word=" + searchWord;
        }
        //<!-- 슬라이더영역 -->

        $(function () {
          $('.slider-wrap').slick({
            slide: 'div',        //슬라이드 되어야 할 태그
            infinite: true,     //무한 반복 옵션     
            slidesToShow: 1,        // 한 화면에 보여질 컨텐츠 개수
            slidesToScroll: 1,        //스크롤 한번에 움직일 컨텐츠 개수
            speed: 500,     // 다음 버튼 누르고 다음 화면 뜨는데까지 걸리는 시간(ms)
            arrows: true,         // 옆으로 이동하는 화살표 표시 여부
            dots: false,         // 스크롤바 아래 점으로 페이지네이션 여부
            autoplay: true,            // 자동 스크롤 사용 여부
            autoplaySpeed: 2000,         // 자동 스크롤 시 다음으로 넘어가는데 걸리는 시간 (ms)
            pauseOnHover: true,        // 슬라이드 이동    시 마우스 호버하면 슬라이더 멈추게 설정
            vertical: false,        // 세로 방향 슬라이드 옵션
            prevArrow: "<button type='button' class='slick-prev'><</button>",
            nextArrow: "<button type='button' class='slick-next'>></button>",
            draggable: true,     //드래그 가능 여부 
            responsive: [ // 반응형 웹 구현 옵션
              {
                breakpoint: 960, //화면 사이즈 960px
                settings: {
                  slidesToShow: 4
                }
              },
              {
                breakpoint: 768, //화면 사이즈 768px
                settings: {
                  slidesToShow: 5
                }
              }
            ]

          });
        })

        // 로그인창, 회원가입창 js
        const loginbtn = document.querySelector('.login_btn');
        const logintab = document.querySelector('.loginBtns')
        const signtab = document.querySelector('.signBtn');

        const closebtn = document.querySelector('#close');
        const signclose = document.querySelector('#closebtn');
        const signmodal = document.querySelector('.signModal');
        const loginmodal = document.querySelector('.loginmodal');
        logintab.addEventListener('click', function (e) {
          e.preventDefault();
          loginmodal.classList.add('on');
        })
        signtab.addEventListener('click', function (e) {
          e.preventDefault();
          signmodal.classList.add('on');
        })

        loginbtn.addEventListener('click', function (e) {
          e.preventDefault();
          loginmodal.classList.add('on');
        })
        closebtn.addEventListener('click', function (e) {
          e.preventDefault();
          loginmodal.classList.remove('on');

        })
        signclose.addEventListener('click', function (e) {
          e.preventDefault();
          signmodal.classList.remove('on');
        })

        function getMyPage() {
          window.location.href = '/users/profile';
        }

        function logoutEvnt() {
          axios
            .post("/users/logout")
            .then(function(response) {
              alert(response.data.message);
            })
            .catch(function(error) {
              alert("로그아웃 실패" + error);
              console.log("Logout failed: " + error);
            });
        }
        // 쿠키팝업

        let isCookie = document.cookie.indexOf("popup=done");
        console.log(isCookie);

        if (isCookie == -1) {
          $("#popup").show();
          console.log("쿠키없음");
        } else {
          $("#popup").hide();
          console.log("쿠키있음");
        }

        $("#popup .close").on("click", function (e) {
          e.preventDefault();

          var isChecked = $("#popup").find("input[type=checkbox]").is(":checked");

          if (isChecked) setCookie(1);

          $("#popup").hide();
        });

        function setCookie(time) {
          var today = new Date();
          var date = today.getDate();
          today.setDate(date + time);
          var duedate = today.toGMTString();

          //쿠키 생성 코드 
          document.cookie = "popup=done; expires=" + duedate;
        }

        function searchQuestion() {
          const word = document.querySelector('.search_box input').value
          window.location.href = `/questions/search?word=${word}`
        }

        function handleKeyPress(event) {
          if (event.key === 'Enter') {
            searchQuestion();
          }
        }

        //유튜브 api

        const wrap = document.querySelector('.youtube .playlist');

        fetchData();

        document.body.addEventListener('click', (e) => {
          if (e.target.className === 'thumb') createPop(e.target.getAttribute('alt'));
          if (e.target.className === 'close') removePop();
        });

        //데이터 fetching 함수 - 외우기
        async function fetchData() {
          const key = "AIzaSyBWdI1Ln_7CG7buBj84llJDk9-oaDu8NCE";
          const list = 'PL7bRBTzgXVldaxsLuH4QlsNPlh2p0hkBT';
          const num = 6;
          const url = `https://www.googleapis.com/youtube/v3/playlistItems?part=snippet&playlistId=${list}&key=${key}&maxResults=${num}`;

          const data = await fetch(url);
          const json = await data.json();
          console.log(json.items);

          createList(json.items);
        }

        //동적으로 목록 생성함수 - 외우기
        function createList(arr) {
          let tags = '';

          arr.forEach((item) => {
            let tit = item.snippet.title;
            let desc = item.snippet.description;
            let date = item.snippet.publishedAt;

            tags += `
        <article>
          <h2>${tit.length > 50 ? tit.substr(0, 50) + '...' : tit}</h2>
          <div class='txt'>
            <p>${desc.length > 200 ? desc.substr(0, 200) + '...' : desc}</p>
            <span>${date.split('T')[0].split('-').join('.')}</span>
          </div>  
          <div class='pic'>
            <img class='thumb' src=${item.snippet.thumbnails.standard.url} alt=${item.snippet.resourceId.videoId
              } />
          </div>          
        </article>
      `;
          });

          wrap.innerHTML = tags;
        }

        function createPop(id) {
          console.log(id);
          const tags = `	
		<div class='con'>
			<iframe src='https://www.youtube.com/embed/${id}'></iframe>
		</div>
		<span class='close'>close</span>
	`;
          const pop = document.createElement('aside');
          pop.className = 'pop';
          pop.innerHTML = tags;
          document.body.append(pop);
          //특정 코드를 강제로 동기화시키고 싶을때는 setTimeout에 delay를 0초로 지정해서 코드를 패키징 (강제로 wep api에 넘어갔다가 다시 콜스택 젤 마지막에 등록)
          setTimeout(() => document.querySelector('.pop').classList.add('on'), 0);
          document.body.style.overflow = 'hidden';
        }

        //팝업제거 함수
        function removePop() {
          document.querySelector('.pop').classList.remove('on');
          setTimeout(() => document.querySelector('.pop').remove(), 1000);
          document.body.style.overflow = 'auto';
        }

        //searchlist보이기


        $('.search_wrap').click(function () {
          $('.top-list-area').addClass('on');
        })

        function logoutEvnt() {
          axios
            .post("/users/logout")
            .then(function(response) {
              alert("로그아웃 되었습니다.");
              window.location.reload();
            })
            .catch(function(error) {
              alert("로그아웃 실패" + error);
              console.log("Logout failed: " + error);
            });
        }



      </script>
</body>

</html>