<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/views/css/profile.css" />
    <script
      src="https://kit.fontawesome.com/a5faf288a0.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
  </head>

  <body>
    <form name="edit_info">
      <h1>계정 설정</h1>
      <div>
        기본 정보
        <section class="profile">
          <div>
            <label for="username" id="username">이름</label>
            <input type="text" value="<%=user.username%>" />
          </div>
          <div>
            <label for="password">패스워드</label>
            <input type="password" value="<%=user.password%>" />
            <button type="button" onclick="editpassword()">패스워드변경</button>
            <div id="editpassword" style="display: none">
              <input
                type="password"
                id="n_password"
                placeholder="변경할 패스워드를 입력하세요."
              />
              <button type="button" onclick="patchpassword()">수정</button>
            </div>
          </div>
          <div>
            <label for="email">이메일</label>
            <input type="text" value="<%=user.email%>" />
            <button type="button" onclick="editemail()">메일변경</button>
            <div id="editemail" style="display: none">
              <input
                type="text"
                id="n_email"
                placeholder="변경할 이메일 입력하세요."
              />
              <button type="button" onclick="patchemail()">수정</button>
            </div>
          </div>
          <div>
            <label for="nickname">닉네임</label>
            <input type="text" value="<%=user.nickname%>" />
            <button type="button" onclick="editnickname()">닉네임변경</button>
            <div id="editnickname" style="display: none">
              <input
                type="text"
                id="n_nickname"
                placeholder="변경할 닉네임을 입력하세요."
              />
              <button type="button" onclick="patchnickname()">수정</button>
            </div>
          </div>
          <div>
            <div>
              <label for="newcomer">경력사항</label>
              <input type="checkbox" value="<%=user.newcomer%>" />
              <label for="newcomer">신입</label>
              <input type="checkbox" value="<%=user.newcomer%>" />
              <label for="newcomer">경력</label>
              <button type="button" onclick="patchnewcomer()">
                경력사항변경
              </button>
            </div>
          </div>
        </section>
      </div>
      <input type="hidden" id="id" value="<%= user.id%>" />
    </form>
  </body>
  <script>
    const form = document.forms["edit_info"];
    function editpassword() {
      const newpassword = document.querySelector("#editpassword");
      if (newpassword.style.display === "block") {
        newpassword.style.display = "none";
      } else {
        newpassword.style.display = "block";
      }
    }
    function editemail() {
      const newemail = document.querySelector("#editemail");
      if (newemail.style.display === "block") {
        newemail.style.display = "none";
      } else {
        newemail.style.display = "block";
      }
    }
    function editnickname() {
      const newnickname = document.querySelector("#editnickname");
      if (newnickname.style.display === "block") {
        newnickname.style.display = "none";
      } else {
        newnickname.style.display = "block";
      }
    }
    function patchpassword() {
      console.log(form.n_password.value);
      axios({
        method: "patch",
        url: "/users/profile",
        data: {
          id: form.id.value,
          password: form.n_password.value,
        },
      }).then((res) => {
        return res.data;
      });
    }
    function patchemail() {
      console.log(form.n_email.value);
      axios({
        method: "patch",
        url: "/users/profile",
        data: {
          id: form.id.value,
          email: form.n_email.value,
        },
      }).then((res) => {
        return res.data;
      });
    }
    function patchnickname() {
      console.log(form.n_nickname.value);
      axios({
        method: "patch",
        url: "/users/profile",
        data: {
          id: form.id.value,
          nickname: form.n_nickname.value,
        },
      }).then((res) => {
        return res.data;
      });
    }
    function patchnewcomer() {
      console.log(form.Number(n_newcomer).value);
      axios({
        method: "patch",
        url: "/users/profile",
        data: {
          id: form.id.value,
          nickname: form.n_newcomer.value,
        },
      }).then((res) => {
        return res.data;
      });
    }
  </script>
</html>
